---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const pageTitle = "About Me";

const identity = {
  firstName: "Aaron",
  state: "Texas",
  country: "United States",
  hobbies: ["photography", "programming", "baseball"],
};
const happy = true;
const finished = false;
const goal = 7;
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

function getRandomColor() {
  return `#${Math.floor(Math.random() * 0xffffff)
    .toString(16)
    .padStart(6, "0")}`;
}
const skillColors = skills.map(() => getRandomColor());
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <style>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <Navigation />
    <h1>{pageTitle}</h1>
    <h2>...and my new astro site!</h2>
    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>
        I live in {identity.state}, {identity.country}.
      </li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Two of my hobbies are: {identity.hobbies[0]} and{" "}
            {identity.hobbies[1]}
          </li>
        )
      }
    </ul>
    <p>My skills are:</p>
    <ul>
      {
        skills.map((skill, index) => (
          <li style={{ color: skillColors[index] }}>
            <span class="skill" style={{ color: skillColors[index] }}>
              {skill}
            </span>
          </li>
        ))
      }
    </ul>
    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}
    <p>My goal {finished ? "was" : "is"} to finish in {goal} days.</p>

    <Footer />
  </body>
</html>
